.net{
    color: #11B0C8;
    text-decoration: #11B0C8;
    justify-content: center;
    text-justify: auto;
    letter-spacing: normal;
    text-decoration-color: light;
    background-attachment: fixed;
    background: dark;
}
.fil{
    text-decoration-color: light;
    background-attachment: fixed;
    background: dark;
}
